spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bgv
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect
          default_schema: bgv
  cloud:
    aws:
      credentials:
        
      region:
        static: ap-south-1
      s3:
        enabled: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB        
  application:
    name: bgv

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json